{
	"presets": ["@babel/preset-env", "@babel/react"],
	
	"plugins": [
		"react-hot-loader/babel",
		"transform-es2015-arrow-functions",
		"transform-class-properties",
		[
			"@babel/transform-runtime", {
				"regenerator": true
			}
		]
	]
}